body {
  background: linear-gradient(to bottom right, #774caf48, #774caf48),
    url(../media/contactbg.jpg) !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}
.input-container input {
  color: #652bb1;
  width: 100%;
  padding: 0.7rem 9%;
  border-radius: 3px;
  border: none;
  outline: none;
  box-shadow: 1px 1px 10px #a483cf;
}
.input-container {
  position: relative;
  width: 75%;
}
.input-container i {
  position: absolute;
  left: 3%;
  top: 50%;
  transform: translateY(-50%);
  color: #652bb1;
  font-size: 1.1rem;
}