body
{
    /* margin: 1em; */
    background-color: #f2f2f2;
}
aside
{
    float:left;
    background-color: rgba(73, 80, 172, 0.979);
    /* width: 200px; */
    height: 40em;
    /* margin-top: 0; */
}

.card:hover
{
 background-color: rgba(173, 177, 219, 0.979);
}

.accordion-body
{
background-color: white;
}

.accordion-button
{
    color: white;
}

.btn
{
    background-color: rgba(13, 180, 231, 0.979);
    color: white; 
}